export DB_HOST=localhost
export DB_NAME=exampleDatabase
export DB_USER=admin
export DB_PORT=5432
export DB_PASS=TOTO
export DB_URL=postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME
export ENTITIES_FOLDER=entities
