.post {
    text-align: center;
    background-color: cadetblue;
}

.posterInfo {
    color: black;
}

.photoProfile {
    height: 40vmin;
    pointer-events: none;
}

.profileName {
    color: blue;
}

.postText {
    color: black;
}